.app {
  background: antiquewhite;
  display: flex;
  justify-content: center;
  padding: 30px;
  height: 100vh;
}

.todo-list {
  background: antiquewhite;
  border-radius: 4px;
  margin-top: 20vh;
  padding: 5px;
  max-width: 400px;
}

.todo {
  background: #fff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 3px 10px;
  font-size: x-large;
  margin-bottom: 6px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input {
  width: 100%;
  box-sizing: border-box;
  border: 0;
  border-radius: 4px;
  box-shadow: none;
  padding: 1rem;
  height: 2.25rem;
}

.complete-btn {
  background-color: #2d2f5d;
  color: white;
  font-size: 14px;
  margin-left: 2rem;
  margin-right: 5px;
  margin-bottom: 10px;
  border-radius: 6px;
}

.remove-btn {
  background-color: #2d2f5d;
  color: white;
  font-size: 14px;
  border-radius: 6px;
}
